@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
* {
    margin: 0%;
    padding: 0%;
    list-style: 0;
    text-decoration: none;
    box-sizing: 0;
}

.section-column {
    display: table-cell;
    padding: 0 10px 10px;
    float: none;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 30;
    margin-top: 25px;
    margin-bottom: 100px;
}


/*----page -menu + hover----*/


/*--------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 20px;
}


/*--Body00*/

html,
body {
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    position: relative;
    transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -webkit-transition: all 0.50s ease-in-out;
    -o-transition: all 0.50s ease-in-out;
}

.header-img-left {
    background-image: url("../images/himgl.png");
    background-repeat: no-repeat;
    width: 50%;
    left: 100%;
    min-height: 100px;
    display: block;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    opacity: 0.7;
}

.h2 {
    border: 1px solid black;
}

.page-text {
    background-color: transparent;
}

main {
    margin: 0;
    min-height: 79%;
}

nav .active {
    background-color: #71a6eb;
}

nav .about {
    background-color: #71a6eb;
}

nav {
    width: 100%;
    height: 50px;
}

.menu {
    color: black;
    font-size: 15px;
    line-height: 40px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    height: 20px;
    margin: 0 5px;
}

nav ul li a {
    color: #cac7c6;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.active.a:hover {
    background: #e84610;
    transition: .5s;
}

.checkbtn {
    font-size: 20px;
    color: #bbb7b6;
    float: right;
    line-height: 50px;
    margin-right: 10px;
    position: relative;
    cursor: grab;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    ladel.menu {
        font-size: 20px;
        padding-left: 40px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: absolute;
        width: 80%;
        background: #2c3e50;
        bottom: 200px;
        left: -100%;
        right: 200%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: black;
    }
    #check:checked~ul {
        left: 0;
    }
}


/*--footer--*/


/*
.footer .footer-content {
    border: 1px solid red;
    height: 360px;
}
*/


/*---EMAIL SECTION__*/

.center-form {
    float: center;
    margin: ;
    max-width: auto;
    position: ;
}

.contact {
    position: center;
}

button[type="submit"] {
    margin-top: 5px;
    margin-bottom: 35px;
    color: #fafafa;
    background-color: #e84610;
    font-size: 11px;
}


/*---FOOTER----*/

.footer {
    display: block;
    background-color: #525252;
    color: #fafafa;
    padding-top: -50px;
    min-height: 150px;
    position: relative;
    width: 100%;
}

.footer-bottom {
    background-color: #8f8f8f;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding-top: 5px;
}


/*----page links----*/


}

/*--
    .page-links {
        float: right;
        padding: 0px;
        margin: 0px;
        list-style: none;
        text-decoration: none;
        width: 100px;
        height: 40px;
    }
    ----*/

/*--Social links--*/
.social-links-header {
    float: left;
}
.social-links-header ul li a {
    width: 40px;
    height: 40px;
    padding: -20px 0px -30px 0px;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links-header li a i:hover {
    background: #71a6eb;
}
.footer {
    position: relative;
    padding: 50px, 30px, 20px, 10px;
    animation: drop 1.5s ease;
}
@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
}
.copyright {
    font-size: 11px;
    text-align: center;
    color: #cac7c6;
}
@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}