@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-color: #676767;
}

/*--------------------------------------------Heading*/

header {
    margin: 0;
}
.logo {
    background: url("../images/header.png");
    padding-top: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.bg-png {
    background: url("../images/bg.png");
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
     animation: drop 1.5s ease;
}
@keyframes drop {
    0% {
opacity: 0;
transform: translateY(-80px);
}

.wrapper {
width: 860px; 
margin: 0 auto;
}

.wrapper ul {
list-style: none;
margin-top: 2%;
}

.wrapper ul li {
background: #262626;
width: 170px;
border: 1px solid #fff;
height: 50px;
line-height: 50px;
text-align: center;
float: left;
color: #fff;
font-size: 16px;
position: relative;
font-family: poppins;
text-transform: uppercase;
font-weight: bold;
}

.wrapper ul li:hover{
background: crimson; 
}

.wrapper ul ul{
display: none;
}

.wrapper ul li:hover > ul{
display: block;
}

.wrapper ul ul ul{
margin-left: 170px;
top: 0;
position: absolute;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}