@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-color: #676767;
}

/*--------------------------------------------Heading*/

header {
    margin: 0;
}
.logo {
    background: url("../images/header.png");
    padding-top: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

@media(min-width: 992px) {
    .logo {
        padding-top: 200px;
        min-height: 250px;
        width: auto;
        max-width: 100%;
    }

.bg-png {
    background: url("../images/bg.png");
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
     animation: drop 1.5s ease;
}
@media(min-width: 992px) {
    .lbg-png {
        padding-top: 200px;
        min-height: 800px;
        width: auto;
        max-width: 50%;
    }

@keyframes drop {
    0% {
opacity: 0;
transform: translateY(-80px);
}


.nav {
display: flex;
justify-content: space-around;
align-items: center;
min-height: 8vh;
background-color: gray;
}